@mixin input-theme() {
  .rounded-input {
    --mat-form-field-outlined-container-shape: calc(var(--mat-table-header-container-height) / 2);

    .mat-mdc-text-field-wrapper {
      padding-inline: 2rem;
    }

    .mat-mdc-form-field-icon-prefix {
      padding-inline-end: 2rem;
    }

    .mat-mdc-form-field-icon-suffix {
      padding-inline-end: 0.5rem;
    }
  }

  ::ng-deep .rounded-input {
    &.dense {
      .mat-mdc-form-field-icon-suffix {
        padding-inline-end: 0.25rem;
      }
    }
    &.scale-down-3 {
      .mat-mdc-form-field-icon-suffix {
        padding-inline-end: 0.5rem;
      }
    }
    &.scale-down-2 {
      .mat-mdc-form-field-icon-suffix {
        padding-inline-end: 0.75rem;
      }
    }
  }

}
